/*
Threme Name: Las
Threme URI: http://las.nocnasowa.pl
Description: Custom
Author: Marcin Retecki

*/

// Variables
@import "partials/variables";
@import "partials/mixins";
//
//  NAVBAR
//
.navbar-logo--las {
  background: transparent url("/las/c/i/icon_feather.png") no-repeat scroll center center / auto 100%;
  text-indent: -9999px;
}

//
//  SZLAK
//
.szlak-h1 {
  padding: $space-6 $space $space-4;
  margin: 0;
  @include for-tablet-landscape-up {
    position: fixed;
    left: 0;
    bottom: 50%;
    width: 50%;
    margin-bottom: -2rem;
    padding: 0;
    pointer-events: none;
  }
}

//
//  SECTIONS
//
.szlak-section {
  background: rgba($dark-btn, 0.9);
  @include for-tablet-landscape-up {
    float: right;
    width: 50%;
    padding: $space-4 0 0;
  }
}

.szlak-section__h {
  padding: $space-2;
  margin: 0;
  @include for-tablet-landscape-up {
    padding: $space;
  }
}

.szlak-section__nav {
  padding: 0 0 $space-4;
  counter-reset: szlak 0;
  @include transition-bezier;
}

.wrapper--szlak-section__sublist {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba($white, 0.9);
  transform: translateX(100%);
  @include scrolling;
  @include for-tablet-landscape-up {
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    width: 50%;
  }
}

.szlak-section__sublist {
  padding: $space-4 0;
  @include for-tablet-landscape-up {}
}

//
//  BUTTONS LIST
//
.szlak-list {
  overflow: hidden;
  @include transition-bezier;
}

//  DARK BUTTON
.szlak-list__btn,
.szlak-list__btn::before {
  @include transition-bezier;
}

.szlak-list__btn,
.szlak-list_btn:visited {
  display: block;
  padding: $space $space-4 $space $space-4;
  border: 1px solid $dark-light;
  border-width: 1px 0 0;
  border-radius: 0;
  color: $white;
  line-height: $line-0;
  white-space: normal;
  text-align: left;
}

.szlak-list__btn:focus,
.szlak-list__btn:hover {
  color: inherit;
  background: rgba($dark-btn-hover, 0.9);
}

.szlak-list > li:first-child .szlak-list__btn {
  border-top-color: transparent;
}

// top:-1px fixes the issue with border when faded
.szlak-list__btn--nav::before {
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  width: (3 * $space);
  padding: $space 0;
  border: 1px solid $dark-light;
  border-width: 1px 1px 0 0;
  font-size: $size-1;
  text-align: center;
  color: inherit;
  @include font-bariol-reg;
  counter-increment: szlak;
  content: counter(szlak);
}

.szlak-list__btn--nav:hover::before {
  background: rgba($dark-btn-hover, 0.9);
}

.szlak-list > li:first-child .szlak-list__btn--nav::before {
  border-top-color: transparent;
}

//  LIGHT BUTTON
.szlak-list__btn--light {
  padding-left: $space-2;
}

.szlak-list__btn--light,
.szlak-list_btn--light:visited {
  color: $font-dark;
  border-top-color: $gray;
}

.szlak-list__btn--light:focus,
.szlak-list__btn--light:hover {
  color: $white;
  background: rgba($green, 0.9);
}

//  SZLAK ICONS
.szlak-icons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $space-half;
  font-size: $size-0;
  text-align: center;
}

.szlak-icon {
  display: block;
  width: 2rem;
  height: 50%;
  margin-bottom: $space-half;
  background-size: 1rem auto;
  background-position: center 100%;
  background-repeat: no-repeat;
}

.szlak-icon--post {
  background-image: url('/las/c/i/icon_post.png');
}

.szlak-icon--mountain {
  background-image: url('/las/c/i/icon_mountain.png');
}

.szlak-icon--inactive {
  opacity: 0.5;
}

//  ARROW
.szlak-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $space-4;
  background-image: url('/las/c/i/icon_next_w.png');
  background-size: ($line-0 * $size-1) auto;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
}

.szlak-arrow--prev {
  top: $space-2;
  right: auto;
  left: 0;
  bottom: auto;
  height: (3 * $space);
  background-position-x: $space;
  background-image: url('/las/c/i/icon_prev.png');
}

//
//  FX
//
//  convert it to velocity
//
.szlak-wrapper--faded .szlak-section {
  opacity: 0;
  @include for-tablet-landscape-up {
    opacity: 1;
    background-color: rgba($dark-btn, 0);
  }
}

.szlak-wrapper--faded .szlak-h1 {
  opacity: 0;
  @include for-tablet-landscape-up {
    opacity: 1;
  }
}

.szlak-wrapper--faded .szlak-section__nav {
  @include for-tablet-landscape-up {
    margin-left: -(3 * $space);
  }
}

.szlak-wrapper--faded .szlak-list__btn--nav {
  @include for-tablet-landscape-up {
    padding-left: (7 * $space);
  }
}

.szlak-wrapper--faded .szlak-section__h,
.szlak-wrapper--faded .szlak-list__btn--nav,
.szlak-wrapper--faded .szlak-list__btn--nav:hover {
  @include for-tablet-landscape-up {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
  }
}

.szlak-wrapper--faded .szlak-list__btn--nav::before {
  @include for-tablet-landscape-up {
    border-color: $dark-light;
    color: $white;
    background: rgba($dark-btn, 0.9);
  }
}

.szlak-wrapper--faded .szlak-arrow {
  @include for-tablet-landscape-up {
    opacity: 0;
  }
}

.szlak-wrapper--faded .szlak-list__btn--active::before {
  @include for-tablet-landscape-up {
    background-color: rgba($dark-btn-hover, 0.9);
    /* border-top-color:$white; */
    border-right-color: transparent;
  }
}

//
// POPUP
//
.szlak-post-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  @include scrolling;
}

.szlak-post-popup__content {
  @include for-phone-only {
    padding: 0;
  }
}

.szlak-post-popup__section {
  //transform-origin: top;
}

.szlak-post-popup__btn {
  display: block;
  margin: 0 auto $space;
  max-width: 100%;
  width: 200px;
  @include for-tablet-portrait-up {
    display: inline-block;
    height: 0;
    width: 25%;
    margin: 0 $space;
  }
}

.szlak-post-popup__img {
  display: block;
  padding-top: 100%;
  background: $beige;
  margin-bottom: $space-half;
}

//
//  ICONS
//
.las-icon {
  display: inline-block;
  width: ($size-1 * $line-1);
  height: ($size-1 * $line-1);
  background-size: ($size-1 * $line-1) auto;
  background-repeat: no-repeat;
  vertical-align: text-bottom
}

.las-icon--next {
  background-image: url('/las/c/i/icon_next.png');
}

.size-2 .las-icon {
  width: ($size-2 * $line-1);
  height: ($size-2 * $line-1);
  background-size: ($size-2 * $line-1) auto;
}

.section-dark .las-icon--next {
  background-image: url('/las/c/i/icon_next_w.png');
}

//
//  WYZWANIE
//
//
//  EMOJI
//
.emojione-svg {
  font-size: inherit;
  height: $space-4;
  width: $space-4;
  top: -3px;
  position: relative;
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}

.emojione-svg--text {
  height: ($size-1 * $line-1);
  width: ($size-1 * $line-1);
  transform: scale(1.2);
}

//
//  CHATBOT
//
.chat-wrapper {
  min-height: 100%;
}

.chat-wrapper * {
  transition: none;
}

.chat-window,
.chat-flow {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow-x: hidden;
}

.chat-flow {
  position: relative;
  padding-bottom: $space-2;
  overflow: hidden;
}

.chat-flow::before {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
}

.chat-answers {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: 0;
  padding: $space-half 0 $space-2;
  text-align: center;
}

.btn-chat-answer {
  display: none;
  visibility: hidden;
  margin: $space $space-half 0;
  padding: $space-half $space;
  border: 0;
  border-radius: $space-half $space-half 0 $space-half;
  line-height: 1.6em;
  cursor: pointer;
}

.btn-chat-answer * {
  cursor: pointer;
}

.btn-chat-answer:hover,
.btn-chat-answer:focus,
.btn-chat-answer:active {
  background-color: $blue;
}

.chat-bubble,
.chat-bubble-answer {
  clear: both;
  max-width: 80%;
  padding: $space-half $space;
}

.chat-bubble {
  position: relative;
  float: left;
  margin: $space-half 0 $space-half 0;
  border-radius: $space-half $space-half $space-half 0;
  right: 100%;
  backface-visibility: hidden;
}

.chat-bubble-img {
  padding: 0;
  overflow: hidden;
  max-width: 90%;
}

.chat-bubble-img img {
  display: block;
}

.chat-bubble-answer {
  opacity: 0;
  float: right;
  max-width: 90%;
  margin: $space-half 0 $space-half 0;
  border-radius: $space-half $space-half 0 $space-half;
  background-color: #3a8ac0;
  color: #fff;
}

.btn-chat-answer .emojione,
.chat-bubble-answer .emojione,
.chat-bubble .emojione {
  transform: scale(0.66, 0.66);
  margin: -18px -12px -20px;
  @media #{$m400} {
    transform: scale(0.5, 0.5);
    margin: -21px -18px -22px;
  }
}

.chat-flow q {
  font-style: normal;
}
