/*
Threme Name: Nocna Sowa
Threme URI: http://nocnasowa.pl
Description: Custom
Author: Marcin Retecki

Properties:
	content
	display and position (float, clear)
	size and border
	visibility and opacity
	colors and fonts (font-style font-variant font-weight font-size/line-height font-family)
	other */


// Variables
@import "partials/base";

// Reset
@import "partials/reset";

// Core
@import "partials/scaffolding";
@import "partials/typography";
@import "partials/buttons";
@import "partials/forms";
@import "partials/grids";
@import "partials/sections";

// Utilities
@import "partials/utilities";

@import "partials/shame";

//Media
@import "partials/media";













.share{display:inline-block;padding:0 5px 0 24px;border-radius:3px;background:$beige url('/c/i/f_logo_29.png') 4px 4px no-repeat;background-size:16px;text-decoration:none;font:12px/24px $body-font;opacity:0.5;}
.share:hover,.share:focus{text-decoration:underline;opacity:1;}
blockquote .share{display:block;position:absolute;top:100%;right:0;margin-top:5px;}
.figure-quote:hover .share,blockquote:hover .share{opacity:1}

// Legacy quote author
.author{position:absolute;top:100%;left:0;margin-top:5px}


.letter .long{margin:$space-2 $space-6}
.letter .long:before{content:"";display:none}

.section-entry object,.section-entry iframe{display:block;margin:0 auto $space;}


/* IMG */
img{max-width:100%;margin:0 auto;padding:0;border:0;-ms-interpolation-mode:bicubic;}
.section-entry img{display:block;margin-bottom:$space;}
figure img{margin-bottom:$space-half;}
img + figcaption{margin:0;padding:0;font-size:$size-0;text-align:center;font-style:italic;}
.figure-img{position:relative}
.caption-left{position:absolute;right:100%;top:0;padding-top:$space-half;text-align:right}
.caption-left:before{position:absolute;top:0;right:$space;width:33%;border-top:1px solid $beige;content:""}













