//
//  SZLAK scss
//


.szlak-h1 {
  padding: $space-8 $space $space-6;
  margin: 0;

  color: $white;
  font-size: $size-5;
  text-align: center;

  @include for-tablet-landscape-up {
    @include text-shadow;

    position: fixed;
    left: 0;
    top: 50%;
    width: 50%;
    margin-top: -($size-6);
    padding: $space;

    pointer-events: none;
    font-size: $size-6;
  }
}



.szlak {
  background: rgba($dark-btn, 0.9);

  @include for-tablet-landscape-up {
    float: right;
    width: 50%;
    padding: $space-4 0 0;
  }
}

.szlak__section {
  @include transition-bezier;

  padding: 0 0 $space-4;

  counter-reset: szlak 0;
}

.szlak__section-h {
  padding: $space-2;
  margin: 0;

  font-size: $size-4;
  text-align: center;

  @include for-tablet-landscape-up {
    padding: $space;
  }
}






//
//  BUTTONS LIST
//
.szlak-list {
  overflow: hidden;
}

.szlak-list > li {
  display: block;
}

//  DARK BUTTON
.szlak-list__btn,
.szlak-list__btn::before {
  @include transition-bezier;
}

.szlak-list__btn,
.szlak-list_btn:visited {
  display: block;
  padding: $space $space-4;
  margin: 0;
  border: 1px solid $dark-light;
  border-width: 1px 0 0;
  border-radius: 0;
  color: $white;
  line-height: ($space + $space-half);
  white-space: normal;
  text-align: left;
}

.szlak-list__btn:focus,
.szlak-list__btn:hover {
  color: inherit;
  background: rgba($dark-btn-hover, 0.9);
}

.szlak-list > li:first-child > .szlak-list__btn {
  border-top-color: transparent;
}


.szlak-list__btn::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $space-4;
  padding: $space 0;
  font-size: $size-1;
  text-align: center;
  color: inherit;
  @include font-bariol-reg;
  counter-increment: szlak;
  content: counter(szlak);
}


.szlak-list__btn--active {
  background: rgba($dark-btn-hover, 0.9);
}

.szlak-list__btn--active .szlak-arrow {
  opacity: 0;
}

.szlak-list__btn--inactive {
  opacity: 0.5;
}


//
//  SUBLIST
//
.szlak-sublist {
  display: none;
  background: rgba($dark-btn-hover, 0.9);
  @include for-tablet-landscape-up {}
}

.szlak-sublist__span,
.szlak-sublist__btn,
.szlak-sublist__btn:visited {
  display: block;
  padding: $space $space-4;
  margin: 0;
  border: 1px solid $dark-light;
  border-width: 1px 0 0;
  border-radius: 0;
  color: $white;
  line-height: ($space + $space-half);
  white-space: normal;
  text-align: left;
}


.szlak-sublist__btn:focus,
.szlak-sublist__btn:hover {
  color: $white;
  background: rgba($green-hover, 0.9);
}



.szlak-sublist__result {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $space-4;
  padding: $space 0;
  text-align: center;
  color: $gray;
  font-size: $size-0;
  line-height: ($space + $space-half);
}



.szlak-sublist__btn--inactive {
  opacity: 0.5;
}


.szlak-sublist__btn--active {
  box-shadow: inset 0 -1rem 1rem -1rem rgba(48,140,140,0.5);
  border-top-color: rgba($green, 0.5);
}

.szlak-sublist__btn--highlight {
  box-shadow: inset 0 -1rem 0rem -1rem rgba(48,140,140,0.5);
}
.szlak-sublist__btn--highlight .szlak-arrow {
  opacity: 0;
}

.szlak-sublist__btn--active:focus,
.szlak-sublist__btn--active:hover {
  //box-shadow: inset 0px 0px 0px 0px rgba(28,115,115,0.5);
}

.szlak-sublist__btn--active:focus .szlak-sublist__icon--inactive,
.szlak-sublist__btn--active:hover .szlak-sublist__icon--inactive {
  border-color: $white;
}


.szlak-sublist__icon-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $space-4;
  padding: $space 0;
  text-align: center;
}

.szlak-sublist__icon {
  display: inline-block;
  width: $space-half;
  height: $space-half;
  border-radius: 50%;
  background: $green-light;
}

.szlak-sublist__icon--inactive {
  @include transition;
  border: 2px solid #808080;
  background: transparent;
}




//  ARROW
.szlak-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $space-4;
  background-image: url('/las/c/i/icon_next_w.png');
  background-size: ($line-0 * $size-1) auto;
  background-position: center center;
  background-repeat: no-repeat;
}



//  Highlight
.highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  margin-right: $space-8;
}
.highlight__one {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1rem;
  background: $white;
  transform: skew(30deg);
}
.highlight__two {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2rem;
  width: 3rem;
  background: $white;
  transform: skew(30deg);
}



//
//  POPUP
//

//
//  nazewnictwo tego jest dziwne
//

.szlak-post-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(60, 69, 76, 0.75);
  @include scrolling;
}

.szlak-post-popup__content {
  @include for-phone-only {
    padding: 0;
  }
}

.szlak-post-popup__section {
  //transform-origin: top;
}

.szlak-post-popup__btn {
  display: block;
  margin: 0 auto $space;
  max-width: 100%;
  width: 200px;
  @include for-tablet-portrait-up {
    display: inline-block;
    height: 0;
    width: 25%;
    margin: 0 $space;
  }
}

.szlak-post-popup__img {
  display: block;
  padding-top: 100%;
  background: $beige;
  margin-bottom: $space-half;
}



//
//  Results
//
.results {}

.results__section {

  padding: $space-2;
  border-radius: 3px 3px 0 0;

  background: rgba($dark-btn-hover, 0.9);

  color: $white;
}


.results-header {}

.result-header__img {
  position: relative;

  display: block;
  width: 8rem;
  margin-top: -6rem;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;

}

.results-header__name {}
.results-header__user-char {}


//  czy to jest to samo co w profile? (char-display)
.results-level {}

.results-level__highlight {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  box-shadow: 0 0 $space-half 0 $white;
  background: $white;
}


.results__action-btn {
  @include font-bariol-thin;

  display: block;

  padding: $space-4 $space-2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border: 0;

  background: rgba( $green, 0.9 );

  font-size: $size-3;
  text-decoration: none;
  text-align: center;
  color: $white;
}
.results__action-btn:hover {
  background: rgba( $green-hover, 0.9 );

  color: $white;
}


// ????
//  czy to będzie potrzebe?
//  w tej chwili nie uzywamy
.results__action-btn--secondary {

  //padding: $space-2;
  border-radius: 0;

  background: rgba( $dark, 0.9 );
}

.results__action-btn--secondary:hover {
  background: rgba( $dark-btn-hover, 0.9 );
}