//
// Buttons
//

// navs – is this a good place for it? NOOOO
nav{margin:0;padding:0;z-index:99}
nav ul{margin:0;padding:0;list-style-type:none;}
nav li{margin:0;padding:0;display:inline;}
nav li:before{display:none}
nav a{display:block;margin:0;font-style:normal;text-decoration:none}
nav a:hover,nav a:active,nav a:focus{}

// Blog new nav
.nav-tabs{border-top:1px solid $dark-border;}
.nav-tabs-list{margin-top:-1px;text-align:left;}
.nav-tabs-list li{display:inline-block;margin-right:$space;}
.nav-tabs-list li a{padding:$space-half 0;color:$gray-on-dark;font-family:$bariol-reg}
.nav-tabs-list li a:hover{color:$white}
.nav-tabs-list .active{border:1px solid $blue;border-width:1px 0 0;}
.nav-tabs-list .active a{color:$white}
.nav-tabs-op{
  @media #{$m770}{
    display:none;
  }
}

.pagination{padding:$space-2 0;}
.prev,.next{}

.btn,
.pagination a,
input.btn{
  position:relative;display:inline-block;padding:$space-half $space-2;border-radius:3px;border:1px solid transparent;margin:$space-quarter $space-quarter $space-quarter 0;
  font:normal normal 400 #{$size-1}/1 $body-font;text-decoration:none;text-transform:none;text-align:center;white-space:nowrap;}

.btn-link:hover{text-decoration:underline;}


//
// Button Colors
//

// Beige and post pagination
.btn-beige,.btn-beige:visited,
.pagination a,.pagination a:visited{background-color:$beige;color:$font-dark;}

.btn-beige-outline,.btn-beige-outline:visited{border-color:$beige;color:$beige;}

.btn-beige:focus,.btn-beige:hover,.btn-beige-outline:focus,.btn-beige-outline:hover,
.pagination a:focus,.pagination a:hover{background-color:$beige-hover;color:$font-dark;}


// Green
.btn-green, .btn-green:visited{background-color:$green;color:$white;}

.btn-green-outline, .btn-green-outline:visited{border-color:$green;color:$green;}

.btn-green:focus,.btn-green:hover,.btn-green-outline:focus,.btn-green-outline:hover{background-color:$green-hover;color:$white;}


// Orange
.btn-orange, .btn-orange:visited{background-color:$orange;color:$white;}

.btn-orange-outline, .btn-orange-outline:visited{border-color:$orange;color:$orange;}

.btn-orange:focus,.btn-orange:hover,.btn-orange-outline:focus,.btn-orange-outline:hover{background-color:$orange-hover;color:$white;}


// Red
.btn-red, .btn-red:visited{background-color:$red;color:$white;}

.btn-red-outline, .btn-red-outline:visited{border-color:$red;color:$red;}

.btn-red:focus,.btn-red:hover,.btn-red-outline:focus,.btn-red-outline:hover{background-color:$red-hover;color:$white;}


// Dark
.btn-dark,.btn-dark:visited,
input.btn-dark{background-color:$dark-btn;color:$white;} // to do

.btn-dark-outline,.btn-dark-outline:visited{border-color:$dark-btn;color:$dark-btn;}

.btn-dark:focus,.btn-dark:hover,.btn-dark-outline:focus,.btn-dark-outline:hover,.btn-dark-outline--active,.btn-dark-outline--active:visited,
input.btn-dark:focus,input.btn-dark:hover{background-color:$dark-btn-hover;color:$white;} // to do


// Blue
.btn-blue,.btn-blue:visited,
input.btn-blue{background-color:$blue;color:$white;} // to do

.btn-blue-outline,.btn-blue-outline:visited{border-color:$blue;color:$blue;}

.btn-blue:focus,.btn-blue:hover,.btn-blue-outline:focus,.btn-blue-outline:hover,
input.btn-blue:focus,input.btn-blue:hover{background-color:$blue-hover;color:$white;} // to do


// White
.btn-white, .btn-white:visited{background-color:$white;color:$font-dark;}

.btn-white-outline, .btn-white-outline:visited{border-color:$white;color:$white;}

.btn-white:focus,.btn-white:hover,.btn-white-outline:focus,.btn-white-outline:hover{border-color:$font-dark;background-color:$white;color:$font-dark;}


// Black (Navbar)
.btn-black,.btn-black:visited{background-color:$outer-space;color:$gray-on-dark;}

.btn-black:focus,.btn-black:hover{background-color:$blue;color:$white;}
.btn-black--active{}


// Facebook
.btn-fb, .btn-fb:visited{background-color:$color-fb;color:$white;}

.btn-fb:focus,.btn-fb:hover{background-color:$color-fb;color:$white;}


//
// Button options
//

// Button Nav
.btn-nav{padding-left:$space;padding-right:$space;margin:0;border:0;border-radius:0;font-family:$bariol_reg;}

// Size
.btn-small{padding:$space-quarter $space;font-size:$size-0;}
.btn-s-4{padding:$space-half $space-4;font-size:$size-1;white-space:normal}

.btn-zapisy{padding:$space $space-2;font-size:$size-1;white-space:normal;vertical-align:top}
.btn-zapisy + .btn-zapisy{margin-left:$space;
  @media #{$m770}{
    margin-left:0;margin-top:$space;
  }
}
.btn-zapisy-off{opacity:0.75}


.btn-block{display:block;padding:$space-half $space;width:auto;}
.btn-search{padding:$space-half $space;margin:0;font-size:$size-1;line-height:normal;}


.check{width:auto;margin-bottom:$space-half;margin-top:$space}
.check + .check{margin-left:$space-half;padding-left:$space;padding-right:$space;}


//
// Icons
//

.btn-icon{width:auto;vertical-align:middle;padding:$space-quarter $space-half;border-color:rgba(255,255,255,0.5);margin-top:0;margin-bottom:0;}
.btn-icon:hover,.btn-icon:focus{background:rgba(0,0,0,0.1);}

.btn-icon.btn-beige{border-color:transparent;} // to jest hack, pomyśl w przyszłości jak to poprawić

.icon{position:relative;width:20px;height:20px;background:url('i/icons.png') no-repeat 0 0;
  @media #{$m400}{
    //background-size:75%;
    // TU CHCEMY ZROBIĆ RESPONSIVE
  }

}
.i-film{}
.i-ark{background-position:-20px 0}
.i-ex{background-position:-40px 0}
.i-talk{background-position:-60px 0}

.i-w-film{background-position:0 -20px}
.i-w-ark{background-position:-20px -20px}
.i-w-ex{background-position:-40px -20px}
.i-w-talk{background-position:-60px -20px}

.btn-beige .icon{background-color:$beige}
.btn-beige:hover .icon{background-color:$beige-hover}

.i-fb{padding-left:30px;background:url('i/icon_fb.png') no-repeat 0 center;}
.i-fb--small{padding-left:20px;background-size:$size-0 $size-0;}

//
// ????
//

a.m{margin:0 0 $space} // ?????

.top{color:$font-light;padding-left:$space-half;float:right;}
.top:hover,.top:focus{color:#000;}

// btn file może przerobić na tą samą ideę, jaką ma i-fb
.btn-file:before{display:inline-block;width:17px;height:22px;margin-right:$space-half;vertical-align:top;background:url('/c/i/file.png') no-repeat scroll 0 0;content:'';}