//
// New main nav/header
//




// gdzie to???
.caret{display:inline-block;margin:$space-quarter 0;border:5px solid transparent;border-top-color:$gray-on-dark;border-bottom:0;}
a:hover .caret,.caret:hover{border-top-color:$white;}

.header-top{
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  @media #{$m770}{
    text-align: center;
  }
}
.header-top--fixed{position:fixed;}
.header-top--absolute{position:absolute;}
.header-top--shadowed{box-shadow:0 0 $space rgba(0, 0, 0, 0.25);}
.header-top--hidden{transform:translate3d(0,-100%,0);box-shadow:0 0 0 rgba(0,0,0,0);}

.section-nav{}
.section-nav__toggle{display:none;
  @media #{$m770}{
    display: inline-block;
    float:left;
  }
}

.section-nav__like{
  @media #{$m400}{
    transform: scale(0.75);
    transform-origin: right center;
    padding-bottom: 0;
  }
}

.section-nav__search{
  opacity: 0.66;
  height: $space-2;
  width: $space-4;
  background: transparent url("i/search.png") center center no-repeat;

  @media #{$m770}{
    background-size: auto 50%
  }
}
.section-nav__search:hover{
  opacity: 1;
}

.section-nav__search--x{
  background-image: url('i/x.png');
}

.navbar{
  display:inline-block;
  @media #{$m770}{
    display: none;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transform: translate(0,-150%);
  }
}

/*ul*/.navbar__list{padding:0;margin:0;}
/*ul*/.navbar__list > li{display:inline;padding:0;margin:0;}
/*ul*/.navbar__list .btn-nav{
  @media #{$m770}{
    display: block;
    text-align: left;
  }
}


.navbar-logo{}
.navbar-logo--centered{position:absolute;left:0;right:0;top:0;}
.navbar-logo__blue{color:$blue;}
.navbar-logo:hover .navbar-logo__blue, .navbar-logo__blue:hover, .navbar-logo:active .navbar-logo__blue, .navbar-logo:focus .navbar-logo__blue{color:$white;}