//
// Utilities
//

// is it used?
.clear{clear:both}

// Group
.group{}
.group:after{content:'.';display:block;clear:both;height:0;visibility:hidden;font-size:0;}
* html .group{zoom:1}/*IE6*/
*:first-child+html .group{zoom:1}/*IE7*/

.velocity-animating{transition:none}

.alignleft{float:left}
.alignright{float:right}
.center{display:block;float:none;margin-left:auto;margin-right:auto;}
.col-pad-top{padding-top:$space;}
.col-pad-bottom{padding-bottom:$space;}

.no-break{white-space:nowrap;}

.relative{position:relative;}
.block{display:block;}

.size-0{font-size:$size-0}
.size-1{font-size:$size-1;line-height:$line-1}
.size-2{font-size:$size-2}
.size-3{font-size:$size-3}
.size-4{font-size:$size-4}
.size-5{font-size:$size-5}
.size-6{font-size:$size-6}

.space-0{margin-bottom:0;}
.space-half{margin-bottom:$space-half}
.space{margin-bottom:$space;}
.space-x2{margin-bottom:$space-2;}
.space-x4{margin-bottom:$space-4;}
.space-x6{margin-bottom:$space-6;}
.space-x8{margin-bottom:$space-8;}

.pad{padding:$space}
.pad-x2{padding:$space-2;
  @media #{$m400}{
    padding:$space;
  }
}
.pad-x4{padding:$space-4;
  @media #{$m770}{
    padding:$space-2;
  }
}



/* FX */
.cloud-wrap{position:relative;border:1px solid $gray;border-radius:$space;margin-top:$space;background:$white;}
.cloud-wrap:before{position:absolute;left:100%;top:75%;content:'';border-left:15px solid $gray;border-top:15px solid transparent;border-bottom:15px solid transparent;}
.cloud-wrap:after{position:absolute;left:100%;top:75%;margin-left:-1px;content:'';border-left:15px solid $white;border-top:15px solid transparent;border-bottom:15px solid transparent;}
#cloud{height:6.6em;
transition:all 0.5s ease;
}
.cloud-hide{opacity:0;
transform:translate3d(-30px,0,0);
}
.cloud-show{opacity:1;
transform:translate3d(0,0,0);
}