//
// Buttons
//

// navs – is this a good place for it?
nav{margin:0;padding:0;z-index:99}
nav ul{margin:0;padding:0;list-style-type:none;}
nav li{margin:0;padding:0;display:inline;}
nav li:before{display:none}
nav a{display:block;margin:0;font-style:normal;text-decoration:none}
nav a:hover,nav a:active,nav a:focus{}

// Blog new nav
.nav-tabs{border-top:1px solid $dark-border;}
.nav-tabs-list{margin-top:-1px;text-align:left;}
.nav-tabs-list li{display:inline-block;margin-right:$space;}
.nav-tabs-list li a{padding:$space-half 0;color:$gray-on-dark;font-family:$bariol}
.nav-tabs-list li a:hover{color:$white}
.nav-tabs-list .active{border:1px solid $blue;border-width:1px 0 0;}
.nav-tabs-list .active a{color:$white}
.nav-tabs-op{
  @media #{$m770}{
    display:none;
  }
}

.posts-nav{padding:$space-2 0;}
.prev,.next{}

.btn,.posts-nav a,input.btn{position:relative;display:inline;display:inline-block;padding:0.25rem $space;margin-right:$space-half;border:1px solid transparent;border-radius:3px;
background-color:$green;
font:normal normal 400 #{$size-0}/1.1875 $body-font;color:$white;text-shadow:0 1px rgba(0, 0, 0, 0.1);text-decoration:none;text-transform:none;text-align:center;white-space:nowrap;}
.btn:link,.btn:visited{color:$white}

.btn:hover,.btn:focus{background-color:$green-hover;color:$white !important;text-decoration:none;outline:none}
.btn:focus{border-color:$green-border;}

.btn:link:active{position:relative;transform:translate(1px,1px);}

p .btn,.posts-nav a{vertical-align:top;margin-right:0.05rem}
.centered > .btn{margin-right:0}

.btn-c,.btn-c:link,.posts-nav a,.btn-footer{width:auto;vertical-align:middle}
.posts-nav a,.btn-footer{padding:0.25rem 0.75rem;}
.btn-c,.btn-c:link,.posts-nav a{background-color:$beige;color:$font-semi-dark !important;background-image:none;}
.btn-c:hover,.btn-c:focus,.posts-nav a:hover,.posts-nav a:focus{background-color:$beige-hover;background-image:none;color:$font-dark !important;}
.btn-c:focus,.posts-nav a:focus{border-color:$beige-border;}
.btn-footer{margin-top:-3px}

.btn-2{background-color:$orange}
.btn-2:hover,.btn-2:focus{background-color:$orange-hover}
.btn-2:focus{border-color:$orange-border;}

.btn-3{background-color:$red}
.btn-3:hover,.btn-3:focus{background-color:#C53727}
.btn-3:focus{border-color:$red-border;}

.btn-4,input.btn-4{background-color:$dark-btn;}
.btn-4:hover,.btn-4:focus,input.btn-4:hover,input.btn-4:focus{background-color:$dark-btn-hover}
.btn-4:focus,input.btn-4:focus{border-color:$dark-btn-border;}

.btn-trans{background:transparent;border-color:$gray-on-dark}
.btn-trans:hover,.btn-trans:focus{border-color:$white;background:rgba(0,0,0,0.1);}

.btn-blue,input.btn-blue{background-color:$blue;}
.btn-blue:hover,.btn-blue:focus,input.btn-blue:hover,input.btn-blue:focus{background-color:$blue-hover}
.btn-blue:focus,input.btn-blue:focus{border-color:$blue-border;}

.btn-second{margin-left:$space;
  @media #{$m770}{
    margin-left:0;margin-top:$space;
  }
}
.btn-secondary{display:inline-block;margin-left:$space;margin-bottom:$space-half}
.btn-secondary-left{display:inline-block;margin-right:$space;margin-bottom:$space-half}
// Rephrase to use modifiers
.btn-secondary-alone{display:inline-block;margin-bottom:$space-half}


.btn-s-2,.btn-huge,input.btn-huge{padding:$space-half $space-2;font-size:$size-1;white-space:normal}
.btn-s-4{padding:$space-half $space-4;font-size:$size-1;white-space:normal}

.btn-zapisy{padding:$space $space-2;font-size:$size-1;white-space:normal;vertical-align:top}
.btn-zapisy + .btn-zapisy{margin-left:$space;
  @media #{$m770}{
    margin-left:0;margin-top:$space;
  }
}
.btn-zapisy-off{opacity:0.75}

.btn-block{display:block;padding:$space-half $space;width:auto;}
.btn-auto{width:auto;}
.btn-center{margin-left:auto;margin-right:auto;}
.btn-search{padding:0.625rem $space;border:0;margin:0;font-size:1.25rem;line-height:normal;}


.check{width:auto;margin-bottom:$space-half;margin-top:$space}


/* Icons */
.icon{position:relative;width:20px;height:20px;background:url('i/icons.png') no-repeat 0 0;}
.i-film{}
.i-ark{background-position:-20px 0}
.i-ex{background-position:-40px 0}
.i-talk{background-position:-60px 0}

.i-w-film{background-position:0 -20px}
.i-w-ark{background-position:-20px -20px}
.i-w-ex{background-position:-40px -20px}
.i-w-talk{background-position:-60px -20px}

.btn-c .icon{background-color:$beige}
.btn-c:hover .icon{background-color:$beige-hover}




a.m{margin:0 0 $space}

.top{color:$font-light;padding-left:$space-half;float:right;}
.top:hover,.top:focus{color:#000;}

a[href$=".pdf"]:before{display:block;position:absolute;top:$space-half;left:$space-half;width:17px;height:21px;background:url('/c/i/file.png') no-repeat;content:'';
transition:transform 0.5s, -moz-transform 0.5s, -webkit-transform 0.5s, -o-transform 0.5s;
-webkit-transition:-webkit-transform 0.5s;
-moz-transition:      -moz-transform 0.5s;
-o-transition:          -o-transform 0.5s;
}
a[href$=".pdf"]{position:relative;border:1px solid $beige;border-radius:10px;padding:$space-half $space $space-half 2.25rem;}
a[href$=".pdf"]:hover{padding-left:$space-2;}
a[href$=".pdf"]:hover:before{
transform:rotateY(180deg);
}

aside a[href$=".pdf"]:before{display:none;}
aside a[href$=".pdf"],aside a[href$=".pdf"]:hover{border:0;padding:0;}
