//
//  PRZEWODNIK scss
//  RATOWNIK
//

.przewodnik-ratownik-header {
  padding: $space-8 $space $space-6;

  color: $font-dark;
  text-align: center;
}

.przewodnik-ratownik-header__h {
  @include font-bariol-thin;

  padding: 0;
  margin: 0 0 $space;

  font-size: $size-5;
}




.przewodnik {

  padding-top: $space-2;

}



.przewodnik__media {
  background: #000;
}

.przewodnik__media-content {
  width: 1064px;
  max-width: 100%;
  margin: 0 auto;
}

.przewodnik__video {
  position: relative;

  //  16:9
  padding-bottom: 56.25%;
}


//  this should be changed into class
.przewodnik__video iframe {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}


.przewodnik__section {
  background: rgba( $white, 0.9 );
  color: $font-dark;
}

.przewodnik__section-h {
  margin-bottom: 2rem;

  font-size: $size-3;
  text-align: center;

  @include for-tablet-landscape-up {
    padding: $space;
  }
}




.przewodnik__action-btn {
  @include font-bariol-thin;

  display: block;

  padding: $space-4 $space-2;
  width: 100%;
  border-radius: 0;
  border: 0;

  background: rgba($green, 0.9);

  font-size: $size-3;
  text-decoration: none;
  text-align: center;
  color: $white;
}
.przewodnik__action-btn:hover {
  background: rgba($green-hover, 0.9);

  color: $white;
}






//
//  Examples
//


.przewodnik-eg {
  padding:$space-half $space;
  margin-top: $space-2;
  margin-bottom: $space-2;
  border-radius: 3px;

  background: rgba( $beige, 0.66 );
}

.przewodnik-eg dt {
  font-weight: 400;
  font-style: italic;
}
.przewodnik-eg dd {
  margin: 0 0 0 1.25rem;
  font-size: .75rem;
  color: #505559;
}


//
//  Tables
//
.przewodnik-table-wrapper {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.przewodnik-table {
  width: 100%;
  margin: $space 0 $space-2;
  border-radius: 3px;
  border-collapse: collapse;

  background: rgba( $beige, 0.66 );
}
.przewodnik-table td,
.przewodnik-table th {
  padding: $space-half $space;
  margin: 0;
  vertical-align: middle;
  text-align: left;
}
.przewodnik-table th {
  margin: 0;
  background: $green;
  font-weight: 400;
  color: $white;
}
.przewodnik-table tr {
  margin: 0;
}
.przewodnik-table tr:hover {
  background: rgba( $white, 0.2);
}
.przewodnik-table tr + tr th,
.przewodnik-table tr + tr td {
  border-top: 1px solid $white;
}

.przewodnik-table-np td {
  font-style: italic;
  white-space: nowrap;
}


.przewodnik-table__audio-row {
  cursor: pointer;
}

.przewodnik-table__audio-row td:first-child {
  padding-left: $space-4;
  background-image: url('/las/c/i/icon_play.png');
  background-size: $space auto;
  background-position: 1rem center;
  background-repeat: no-repeat;
}

.przewodnik-table__audio-row--playing td:first-child {

  background-image: url('/las/c/i/icon_pause.png');

}

